<% layout('layouts/boilerplate.ejs') %> 

<style>
    .mainBtn {
         background-color: white;
         border: 1px solid #e0e0e0;
         box-shadow: 0 6px 9px rgba(0, 0, 0, 0.1); 
         width: 70%;
         border-radius: 100px;
         flex-wrap: wrap;

    }
    .mainBtn button {
        padding: 2px 30px 2px 30px;
        font-size: 15px;
        border-radius: 20px;
        border: 0 
        /* background-color: rgb(227, 227, 226); */
    }
    .mainBtn button i {
        font-size: 13px;
        opacity: 0.7;
    }
    .mainBtn button:hover {
        background-color: rgb(215, 215, 212);
        transition: 0.8s;
    }

    .taxes {
        display: none;
    }
    #switchCheckDefault{
        cursor: pointer;
    }
    .tax-toggle {
        margin-top: 15px;
    }

</style>

<body>

    <div class="allbtn d-flex justify-content-center py-3 ">
        <div class="mainBtn py-3 d-flex justify-content-center gap-3">
            <button>Where <br> <i> Search destinations</i></button>
            <button>Check in <br> <i>Add dates</i></button>
            <button>Check out <br> <i>Add dates</i></button>
            <button>Who <br> <i>Add guests</i></button>
            <div class="tax-toggle d-flex gap-3">
            <label class="form-check-label" for="switchCheckDefault">Display total after taxes</label>
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" role="switch" id="switchCheckDefault">
            </div>
            </div>
        </div>
    </div>
    
    <div class="d-flex flex-wrap gap-3">
        <% for (let listing of allListings) { %>
            <a class="list-link" href="/listings/<%= listing._id %>">
            <div class="card main-cards" style="width: 18rem;">
                <img src="<%= listing.image.url %>" class="card-img-top" alt="<%= listing.title %>">
                <div class="card-body">
                    <h5 class="card-title">
                       <b><%= listing.title %></b>
                    </h5>
                    
                    <p class="card-price"><strong>Price:</strong> ₹<%= listing.price.toLocaleString('en-US') %> for 2 night 
                    <i class="taxes">+18%: GST</i></p>
                    <!-- <p><strong>Location:</strong>
                        <%= listing.location %>, <%= listing.country %>
                    </p> -->
                </div>
            </div>
            </a>
        <% } %>
    </div>

    <script>
        let tegBtn = document.getElementById("switchCheckDefault");
        tegBtn.addEventListener("click", () => {
            let none = document.getElementsByClassName("taxes")
            for(info of none) {
                if(info.style.display != "inline") {
                info.style.display = "inline"
                }else {
                    info.style.display = "none"
                }
            }
        })
    </script>

    


</body>



















<!-- <form action="/listings/new" method="GET">
        <button>Create new Listing</button>
    </form> -->


<!-- <% for(let listing of allListings) { %>
        <ul>
            <li><a href="/listings/<%= listing._id %>"><%= listing.title %></a></li>  
        </ul>
        <% } %> -->